#aboutSection {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 25px;
  background: url("../Gallery/about_bg.jpg") no-repeat center center/cover;
}

#aboutSection h1 {
  font-size: 2rem;
  font-family: "Prompt", sans-serif;
  letter-spacing: 3px;
  color: white;
}

#aboutSection p {
  font-size: 1.3rem;
  font-family: "Prompt", sans-serif;
  color: white;
}

#serviceSection {
  background-color: yellow;
  height: 20vh;
}

#sponserSection {
  background-color: green;
  height: 20vh;
}
