nav {
  background-color: #ca8e8e;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 10px 20px;
  font-family: "Source Code Pro", monospace;
}

nav ul li a {
  text-decoration: none;
}

nav ul li :hover {
  color: white;
}

.activeTabs a {
  color: white !important;
}
