nav {
  background-color: #3d1992;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1000;
  opacity: 0.8;
  display: flex;
  align-items: center;
}

nav img {
  filter: invert(1);
  width: 25px;
  padding: 0 15px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 10px 10px;
  font-family: "Source Code Pro", monospace;
}

nav ul li a {
  text-decoration: none;
}

nav ul li :hover {
  color: white;
}

.activeTabs a {
  color: white !important;
}

@media only screen and (max-width: 600px) {
  nav {
    justify-content: center;
  }
}
