nav {
  background-color: #3d1992;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1000;
  opacity: 0.8;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 10px 20px;
  font-family: "Source Code Pro", monospace;
}

nav ul li a {
  text-decoration: none;
}

nav ul li :hover {
  color: white;
}

.activeTabs a {
  color: white !important;
}
