@import url("https://fonts.googleapis.com/css2?family=Anton&family=Prompt&display=swap");

* {
  margin: 0;
  padding: 0;
  color: black;
}

nav {
  height: 5vh;
}

#mainBody {
  min-height: 90vh;
}

#mainBody::before {
  content: "";
  background: url("./Gallery/about_bg.jpg") no-repeat center center/cover;
  position: fixed;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

footer {
  height: 5vh;
}

@media only screen and (max-height: 600px) {
  nav {
    height: 8vh;
  }

  #mainBody {
    min-height: 84vh;
  }

  footer {
    height: 8vh;
  }
}

@media only screen and (max-height: 400px) {
  nav {
    height: 12vh;
  }

  #mainBody {
    min-height: 76vh;
  }

  footer {
    height: 12vh;
  }
}
